In [1]:
training_size = 1600000
data_folder = 'trainingandtestdata'
train_file = './'+data_folder+'/'+'training.csv'
test_file = './' + data_folder+'/'+'testing.csv'

# DO_STEM = True
# DO_REMOVE_STOP = True

In [2]:
# from nltk.stem import LancasterStemmer
import pandas as pd
# lancaster=LancasterStemmer()

# from nltk.corpus import stopwords
# stop_words = set(stopwords.words('english'))
# stop_words.add('be')

In [3]:
df = pd.read_csv(train_file)
df2 = pd.read_csv('./' + data_folder + '/positive_wordbag.csv')
df3 = pd.read_csv('./' + data_folder + '/negative_wordbag.csv')

In [7]:
df2

           word  frequency
0            im      76871
1          good      61738
2          love      47256
3           day      44828
4          like      37205
...         ...        ...
22767     ykyat         11
22768   cheerio         11
22769  gardener         11
22770  toasting         11
22771  awakened         11

[22772 rows x 2 columns]

In [5]:
vocab = {'word': [], 'frequency': []}
for i in range(1, df2['word'].size):
    if(df2['word'][i] in vocab['word']):
        index =  vocab['word'].index(df2['word'][i])
        vocab['frequency'][index] += df2['frequency'][i]
    else:
        vocab['word'].append(df2['word'][i])
        vocab['frequency'].append(df2['frequency'][i])


for i in range(1, df3['word'].size):
    if(df3['word'][i] in vocab['word']):
        index =  vocab['word'].index(df3['word'][i])
        vocab['frequency'][index] += df3['frequency'][i]
    else:
        vocab['word'].append(df3['word'][i])
        vocab['frequency'].append(df3['frequency'][i])

In [6]:
len(vocab['word'])

26924

In [7]:
df4 = pd.DataFrame(vocab)
df4.to_csv('./' + data_folder + '/wordbag.csv', index=False)